.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-out;
}
.BackdropOpen {
  animation: openBackdrop 0.3s ease-out;
}
.BackdropClose {
  animation: closeBackdrop 0.3s ease-out;
}

@keyframes openBackdrop {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes closeBackdrop {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
